# Project Report
Advanced Stochastic Processes

## Comparison between option pricing methods

### Preleminary

In this section we compute the option price of 5 Iranian options and compare the preditions with the actual price of options in the market. We try to make a conclusion on which method is best fit for Iran's Market.

### Bionomial option pricing

In [99]:
from src.data import Option

option1 = Option(
    stock_symbol="شستا",
    option_symbol="ضستا5004",
    strike=1500,
    maturity_date="1402-05-11",
    call=True,
)

from src.data import fetch_data
data=fetch_data(option1)

from src.data import add_std, add_rf, add_T
data=add_std(data)
data=add_rf(data)
data = add_T(option1, data)

from src.options import Bionomial
data = Bionomial.add_price(option1, data)

In [101]:
data.tail(10)

          date      S0  actual_option       std      rf         T   binPrice
273 2023-06-14  1295.0           63.0  0.358240  0.2660  0.134247  19.821425
274 2023-06-17  1290.0           52.0  0.355120  0.2612  0.126027  16.219204
275 2023-06-18  1273.0           47.0  0.355566  0.2534  0.123288  12.439464
276 2023-06-19  1281.0           43.0  0.355306  0.2512  0.120548  12.988097
277 2023-06-20  1297.0           41.0  0.354314  0.2541  0.117808  15.303124
278 2023-06-21  1316.0           45.0  0.351377  0.2622  0.115068  18.241922
279 2023-06-24  1317.0           44.0  0.350917  0.2622  0.106849  16.265995
280 2023-06-25  1335.0           40.0  0.341784  0.2622  0.104110  18.004407
281 2023-06-26  1329.0           31.0  0.342021  0.2622  0.101370  16.141123
282 2023-06-27  1304.0           23.0  0.343904  0.2622  0.098630  11.039096

In [98]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload